body{
    background-color: #ffffff;
    margin: 0;
    font-family: lato, inter, sans-serif;
    
    .material-symbols-outlined{
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 100px;
        align-items: center;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        
        figure{
            margin: 0;
        }    

        @media(max-width: 900px) {
            padding: 10px;
            flex-direction: row-reverse;

            figure{
                width: 100%;
                text-align: center;
            }

            .material-symbols-outlined{
                display: inline-block;
                font-size: 36px;
            }
        }

        .site_nav_menu{
            .site_nav_toggle{
                display: flex;
                list-style: none;
                text-transform: uppercase;
                
                li{
                    display: flex;
                    align-items: center;
                    a {
                        color: #646464;
                        text-decoration: none;
                        font-size: 18px;
                        padding: 0 20px;
                        border: 1px solid transparent;
                        
                        &:hover{
                            color: #d87093;
                        }
                    }
                }
            }

            @media(max-width: 900px) { 
                padding: 0;
                display: block;

                .site_nav_toggle{
                    display: none;
                }
                
                .active{
                    display: block;
                    position: absolute;
                    width: 100%;
                    top: 60px;
                    left: 0;
                    padding-left: 0;
                    background-color: white;
                    
                    li{
                        a{
                            display: block;
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }

    main{
        
        @media (max-width: 900px) {
            h1{
                font-size: 54px;
            }
        }
        
        h1{
            font-size: 48px;
        }

        h3{
            color: #d87093;
            span{
                color: #646464;
            }
        }

        p{
            font-size: 18px;
        }

        section{
            padding: 50px;
            width: 70%;
            margin: 0 auto;           
            
            .first-about-section{
                display: grid; 
                grid-template-columns: 1fr 1fr;
                
                h1{
                    margin-bottom: 10px;
                }

                h2{
                    color: #d87093;
                    font-style: italic;
                    margin-bottom: 30px;
                }

                div{
                    padding-right: 100px;
                }
            
                figure{
                    margin: 0;
            
                    img{
                        width: 100%;
                    }
                }
            
                @media(max-width: 480px) {
                    grid-template-columns: 1fr;
            
                    div{
                        padding-right: 0;
                    }
                }
            }

            .contact-list{
                display: grid; 
                grid-template-columns: 1fr 1fr 1fr;
                
                .right{
                    margin-right: 30px;
                }

                a{
                    color: #000000;
                }

                @media(max-width: 480px) {
                    grid-template-columns: 1fr;
                }
            }

            @media(max-width: 900px) {
                padding: 25px;
                
                h1{
                    margin: 0;
                }
            }
        }
        .project-list{
            display: grid;
            grid-template-columns: 1fr 1fr;
        
            .card{
                display: inline-block;
                position: relative;
                overflow: hidden;
                cursor: pointer;
        
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            
                .card-body{
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: -100%;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                    background-color: #000000bd;
                    transition: 1s;
        
                    h3{
                        color: #d87093;
                        margin: 0;
                    }
        
                    h2{
                        text-align: center;
                    }
        
                    p{
                        padding: 0 50px;
                    }
        
                    .project-links{
                        margin-top: 20px;
        
                        a{
                            color: #000000;
                            margin: 0 10px;
                            padding: 15px;
                            background-color: #ffffffa2;
                            border-radius: 5px;
                            text-decoration: none;
        
                            &:hover{
                                color: #FFF;
                                background-color: #d87093;
                            }
                        }
                    }
                }
            
                &:hover .card-body{
                    right: 0;
                } 
                    
            }
        
            @media(max-width: 900px) {
                grid-template-columns: 1fr;
                width: 80%;
        
                .card{
                    height: auto;
                    position: initial;
                    background-color: #000000bd;
                    margin-bottom: 30px;
                    
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
                .card-body{
                    position: initial !important;
                    background-color: transparent !important;
                    height: auto !important;
                    padding: 50px 0 !important;
                }
            }
        }
        
        .grid-two-collmns{
            display: grid;
            grid-template-columns: 1fr 1fr;
        
            @media(max-width: 480px) {
                grid-template-columns: 1fr;
            }
        }
    }
}