body{
    background-image: url("../src/background.png");
    background-size: cover;
    margin: 0;
    font-family: lato, inter, sans-serif;
    
    .material-symbols-outlined{
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 100px 0 100px;
        align-items: center;
        
        figure{
            margin: 0;
        }    

        @media(max-width: 900px) {
            padding: 10px;
            flex-direction: row-reverse;

            figure{
                width: 100%;
                text-align: center;
            }

            .material-symbols-outlined{
                display: inline-block;
                font-size: 36px;
            }
        }

        .site_nav_menu{

            .site_nav_toggle{
                display: flex;
                list-style: none;
                width: 40%;
                text-transform: uppercase;

                a {
                    color: black;
                    text-decoration: none;
                    font-size: 18px;
                    padding: 10px 20px;
                    border: 1px solid transparent;
                
                    &:hover{
                        border: 1px solid white;
                    }
                }
            }

            @media(max-width: 900px) { 
                padding: 0;
                display: block;

                .site_nav_toggle{
                    display: none;
                }
                
                .active{
                    display: block;
                    position: absolute;
                    top: 45px;
                    padding-left: 0;
                    background-color: white;
                    
                    li{
                        a{
                            display: block;
                            padding: 15px;
                        }
                        
                        &:active{
                            background-color: pink;

                        }
                    }
                }
            }
        }
    }

    main{
        
        @media (max-width: 900px) {
            h1{
                font-size: 54px;
            }
        }
        
        h1{
            font-size: 48px;
            margin: 20px 100px;
        }

        .page-name{
            margin: 50px 0 0 100px;
            @media(max-width: 900px) {
                margin: 50px 0 0 25px;
            }
        }

        section{
            padding: 50px;
            
            @media(max-width: 900px) {
                padding: 25px;
                
                h1{
                    margin: 0;
                }
            }
        }
        
        .about{
            align-items: center;
       
            h1{
                font-size: 84px;
                margin: 0;
            }

            #me{
                width: 100%;
            }

            .first-block{
                display: inline-flex;
                justify-content: center;
                
                .about-description{
                    font-weight: 400;
                    width: 30%;
                    padding: 0 100px;
    
                    h3{
                        font-weight: normal;
                    }
                
                    .social-media-icons{
                        margin-bottom: 50px;

                        .social-media{
                            margin-right: 20px;
                        }
                    }
                    
                    a:not(.social-media){
                        text-decoration: none;
                        color: black;
                        background-color: white;
                        padding: 15px 20px;
                        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
                        &:hover{
                            background-color: black;
                            color: white;
                        }
                    }
                }
    
                @media(max-width: 900px) {
                    flex-direction: column;    
                 
                    .about-description{
                        padding: 0;
                        width: 100%;
                    }
                    
                    figure{
                        margin: 0;
                    }
                 
                    img{
                        margin-top: 50px;
                    }
                }
            }

            .skills{
                margin-top: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                @media(max-width: 1080px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }
            
            @media(max-width: 950px) {
                .first-block{
                    display: flex;
                    flex-direction: column;
                }    
            }
        }
        
        .center-slider .slick-slide{
            color: #FFF;
            margin: 0 15px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: scale(0.8);
            transition: all 0.4s ease-in-out;
            
            figure{
                background-color: #FFF;
                padding: 30px;
                height: 400px;

                @media(max-width: 900px) {
                    height: auto;
                }

                img{
                    width: 70%; margin: 0 auto;
                }
            }
            
            .slide-item{
                text-align: center;
            }
        }

        .center-slider .slick-slide,
        .center-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
            transform: scale(0.8, 0.8);
            transition: all 0.4s ease-in-out;
            
        }
        
        /* Active center slide (You can change anything here for cenetr slide)*/
        .center-slider .slick-center,
        .center-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
            transform: scale(1.1);
            color: #000;
        }
        .center-slider .slick-current.slick-active{
            transform: scale(1.1);

                article {
                    .slide-item-content{
                        display: block;

                        font-size: 18px;

                        a{
                            text-decoration: none;
                            padding: 10px;
                            color: #000;
                            border: 1px solid transparent;

                            &:hover{
                                border: 1px solid #FFF;
                            }
                        }
                    }
                }
            }
        div:not(.slick-current.slick-active){
                
            article{
                .slide-item-content{
                    display: none;
                }
            }
        } 
        
        .slick-next, .slick-prev{
            z-index: 5;
        }

        .slick-next{
            right: 50px;
        }

        .slick-prev{
            left: 50px;
        }

        @media(max-width: 480px) {
            .slick-next{
                right: 40px;
            }
    
            .slick-prev{
                left: 20px;
            }    
        }
               
        .slick-slider > .slick-next::before, .slick-slider > .slick-prev::before {
            color: #FFF !important;
            font-size: 45px;
        }

        .slick-next:before, .slick-prev:before{
            color: #000;
            font-size: 26px;
        }

    }
}

.projects{
    @media(max-width: 900px) {
        background-size: auto;
    }
}